body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#choices-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #007acc;
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: #005f99;
}

#score-container {
    margin-top: 20px;
    font-size: 20px;
}